.auth__submit {
	height: 49px;
    margin-top: 190px;
	font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border-radius: 2px;
    background-color: #fff;
    border: none;
    cursor: pointer;
}
.auth__submit:hover {
    opacity: .85;
}

@media screen and (max-width: 940px) {
    .auth__submit {
        height: 46px;
		margin: 146px auto 0;
        width: calc(100% - 60px);
        font-size: 16px;
        line-height: 19px;
    }
}